@page
@model PaymentPageTestModel
@{
    ViewData["Title"] = "決済画面";
}

<h2>支払いページテスト</h2>

<!-- JavaScriptファイルのリンク -->
<script src="~/js/sbps-connect.js"></script>

<!-- 支払いボタン -->
<button onclick="processPayment()">支払いを実行</button>